@page "/"

<PageTitle>Home</PageTitle>

<h3>Designed and Developed by Prashant Praveen</h3>

This Notes App is developed as a modular and maintainable web application using Blazor Server for the front end and ASP.NET Core with EF Core for the backend. 
The goal is to provide a seamless experience for users to create, edit, and manage notes with a clean and intuitive UI.